<div id="outer"> 
    <div id="title"> <h3>Username's workspaces</h3></div>
    <div id="content">
        <div class="workspace">
            <div class="left">
                <h4>Workspace 1</h4>
                <button type="button" id="show-members" (click)="navigateToShowPeopleModal()">Show members</button>
                <button type="button" (click)="navigateToAddPeopleModal()">ADD MEMBERS</button>
                <button type="button" id="templates" (click)="navigateToAddTemplate()">ADD TEMPLATE</button>
            </div>
            <div class="right">
                <div class="template">
                    <img class="image" src="..//..//assets/images/template.png">
                    <p>Template</p>
                </div>
                <div class="template">
                    <img class="image" src="..//..//assets/images/template.png">
                    <p>Template</p>
                </div>
            </div>
        </div>
        <div class="workspace">
            <div class="left">
                <h4>Workspace 2</h4>
                <button type="button" (click)="navigateToAddPeopleModal()">ADD PEOPLE</button>
                <button type="button" id="templates" (click)="navigateToAddTemplate()">ADD TEMPLATE</button>
            </div>
            <div class="right">
                <div class="template">
                    <img class="image" src="..//..//assets/images/template.png">
                    <p>Template</p>
                </div>
                <div class="template">
                    <img class="image" src="..//..//assets/images/template.png">
                    <p>Template</p>
                </div>
                <div class="template">
                    <img class="image" src="..//..//assets/images/template.png">
                    <p>Template</p>
                </div>
                <div class="template">
                    <img class="image" src="..//..//assets/images/template.png">
                    <p>Template</p>
                </div>
            </div>
        </div>
        <div class="workspace">
            <div class="left">
                <h4>Workspace 3</h4>
                <button>ADD PEOPLE</button>
                <button type="button" id="templates" (click)="navigateToAddTemplate()">ADD TEMPLATE</button>
            </div>
            <div class="right">
                <div class="template">
                    <img class="image" src="..//..//assets/images/template.png">
                    <p>Template</p>
                </div>
                <div class="template">
                    <img class="image" src="..//..//assets/images/template.png">
                    <p>Template</p>
                </div>
                <div class="template">
                    <img class="image" src="..//..//assets/images/template.png">
                    <p>Template</p>
                </div>
            </div>
        </div>
        <div class="workspace">
            <div class="left">
                <h4>Workspace 4</h4>
                <button>ADD PEOPLE</button>
                <button type="button" id="templates" (click)="navigateToAddTemplate()">ADD TEMPLATE</button>
            </div>
            <div class="right">
                <div class="template">
                    <img class="image" src="..//..//assets/images/template.png">
                    <p>Template</p>
                </div>
            </div>
        </div>

    </div>
</div>
