:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrap-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 10px 18px rgb(84 110 134);
}

input {
  width: 100%;
  border: 2px solid #8c5b95;
  padding: 8px;
  border-radius: 4px;
  background-color: #ddc5e15e;
}

button.next-btn,
button.prev-btn,
button.create-btn {
  float: right;
  padding: 8px 30px;
  border: none;
  background-color: #8c5b95;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

button.prev-btn {
  float: left;
}

.modal-header {
  margin-top: 30px;
  flex-flow: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.modal-footer {
  margin-top: 50px;
}

.logo-img {
  height: 120px;
}

.add-members-img {
  margin-top: 10px;
  height: 100px;
}

.add-description-img {
  width: 100px;
  height: 100px;
}

.username {
  padding: 6px;
  color: #a1519c;
  border: 1px;
  background: linear-gradient(178deg, rgb(248 248 248) 0%, rgb(236 222 232) 100%);
  font-size: 14px;
  margin-bottom: 2px;
}

ul {
  list-style-type: none;
}

.username:hover {
  background: #f3f3f3;
}

.add-member-btn {
  float: right;
  padding: 1px 5px;
  border: none;
  background: linear-gradient(178deg, rgb(124, 17, 105) 0%, rgb(175, 90, 165) 100%);
  font-size: 14px;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  text-align: center;
}

.empty-area {
  width: 100%;
  height: 180px;
  overflow-y: scroll;
  border: 2px solid #8c5b95;
}

.adding-section {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 8px;
}

#member-name {
  margin-right: 5px;
}

textarea {
  padding: 8px 8px;
  box-sizing: border-box;
  border: 2px solid #8c5b95;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

::placeholder {
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.modal-title {
  font-size: 30px;
  color: rgb(79 12 112);
  font-weight: bold;
}

.step-title {
  font-size: 20px;
  font-weight: 600;
  color: rgb(79 12 112);
  margin-bottom: 10px;
}

.modal-description {
  font-size: 16px;
  font-weight: 600;
  color: #b8b3d2;
  margin-top: 5px;
  margin-bottom: 30px;
}

.step-input-description {
  color: rgb(79 12 112);
  font-weight: 600;
  display: inline-block;
  margin-bottom: 8px;
}

#base-info-inline{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.info-description {
  color: rgb(79 12 112);
  font-weight: 600;
  margin-right: 5px;
}

.info-part {
  margin-top: 15px;
}

.info-data {
  color: 2px solid #8c5b95;
}

li {
  margin-top: 3px;
}

.empty-area-info {
  width: 100%;
  height: 70px;
  overflow-y: scroll;
  display: flex;
  flex-flow: row wrap;
}

.member-info-data {
  display: inline-block;
  padding: 3px;
  color: #a1519c;
  border: 2px solid rgb(187 134 184);
  border-radius: 5px;
  margin-bottom: 2px;
  margin-right: 5px;
  background-color: #f8f8f8;
  font-size: 14px;
}

.delete-member-info-btn {
  background: none;
  border: none;
  color: rgb(79 12 112);
  font-weight: 800;
  margin-left: 3px;
}
