<div class="wrap-modal">
  <form>
    <div>
      <section class="modal-header">
        <h2 class="modal-title">Workspace's Members</h2>
        <img src="./assets/images/workspace_members.png" alt="Chatroom participants" class="add-members-img">
      </section>
      <section class="modal-body">
        <div class="empty-area">
          <div *ngFor="let user of users" class="list-members">
            <ul>
              <li class="username">{{user}}</li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <section class="modal-footer">
      <button type="button" class="create-btn" (click)="navigateToProfileInfo()">Close</button>
    </section>
  </form>
</div>
