:host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 99vh;
    width: 99vw;
}

.heading {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgb(235, 230, 243);
    font-weight: bold;
}

.subheading {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(235, 230, 243);
    font-weight: normal ;
}

.navigation-buttons {
    display: flex;
    justify-content: space-evenly;
}

.navigation-button {
    padding: 20px 20px;
    border: none;
    background: linear-gradient(178deg, rgb(17 67 115) 0%, rgb(65 129 218) 100%);
    font-size: 14px;
    cursor: pointer;
    color: white;
    border-radius: 10%;
    text-align: center;
    transition-duration: 0.4s;
    box-shadow: 5px 10px 10px rgb(123 152 179);
}

.navigation-button:hover {
    background-color: #8eb5fd;
    color: white;
}

.navigation-button-separator {
    display: flex;
    align-items: center;
    font-size: 35px;
    color: rgb(18 84 148);
    font-weight: bold;
}
