<div class="gog_home_game_content">
   <!--    <img src="..//..//assets/bg.png">-->
   <div class="gog_cards_wrapper">
      <div class="gog_cards" *ngFor="let department of departments">
         <div class="gog_cards_details">
            <p>
               {{department.name}}
            </p>
         </div>
         <img src="../assets/{{department.iconPath}}">
         <div class="wrap-cat-btns">
            <div class="cat-item" *ngFor="let category of department.categories">
               <button type="button" (click)="navigateToTemplatesPage(category)">
                  {{category}}
               </button>
            </div>           
         </div>
      </div>
   </div>
</div>
