<div class="items_cart_dialog_parent">
    <div class="itmes_cart">
        <div class="spans">
            <span><b>{{sampleData.length}}</b> <b>{{sampleData.length > 1 ? 'Items' : 'Item'}}</b> in cart</span>
        </div>
        <div class="spans">
            <span><b>Total</b>:{{totalSumString}}</span>
        </div>
        <div class="header-btns">
            <button mat-button (click)="clearCart()" class="rounded_Rectangle_7">Clear</button>
            <button mat-button (click)="navigateToContinueOrderModal()" class="rounded_Rectangle_7">Continue
            </button>
            <button type="button" mat-button (click)="closeCart()" class="rounded_Rectangle_7">X</button>
        </div>
    </div>
    <div *ngIf="sampleData.length > 0">
        <div class="gog_cart_items_holder" *ngFor="let data of sampleData">
            <img src="../assets/{{data.image}}">
            <div>
                <p>{{data.type}}</p>
                <span (click)="removeData(data)">Remove</span>
            </div>
            <div>
                <span>{{data.price}}</span>
            </div>
        </div>
    </div>
</div>
