#navlist {
    margin: 0 auto; width: 1520px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    border-bottom: 2px solid #501666;
    align-items: center;
    height: 60px;
}

/* styling navlist anchor element */
span {
    color: rgba(29, 29, 29, 0.75);
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 600;
}

button {
    color: rgba(29, 29, 29, 0.75);
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 7px;
}

.right-part {
    float:right;
}

img {
    margin-right: 10px;
}

/* hover effect of navlist anchor element */
.menu-item:hover {
    color: white;
}

/* styling search bar */
.search input[type=text]{
    width:300px;
    height:25px;
    border: none;
    border-radius: 7px;
}

.search{
    margin:7px;
}

.left-part {
    float: left;
}

.search button{
    color: #f2f2f2;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

search_part {
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-left: 77%;
    border: 1px solid rgb(170, 165, 165);
    border-radius: 7px;
}

#search {
    float:right;
    font-size: 14px;
    align-self: center;
    text-align: left;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}

#search_btn {
    float:right;
    border-left: none;
    cursor: pointer;
    align-self: center;
    border: none;
    background-color: #00000012;
    border-radius: 7px;
    background: transparent;
}

button {
    padding: 5px;
    border: none;
    border-radius: 7px;
    background: transparent;
}

#search_icon {
    max-width: 15px;
}

#logout {
    margin-right: 20px;
}

.cart-value {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-left: 5px;
    color: #404040;
}
