<div class="wrap-modal">
  <form>
    <div *ngIf="step == 1">
      <section class="modal-header">
        <h2 class="modal-title">Finishing order</h2>
        <h3 class="modal-description">Finish your order in 5 easy steps</h3>
        <h2 class="step-title">Step 1</h2>
        <img src="assets/images/make_order.png" alt="Logo" class="logo-img">
      </section>
      <section class="modal-body">
        <label class="step-input-description" for="user-info">Enter your full name:</label>
        <input type="text" id="user-info" name="user-info" placeholder="Enter name..." [(ngModel)]="userName"
          required />
      </section>
    </div>
    <div *ngIf="step == 2">
      <section class="modal-header">
        <h2 class="modal-title">Finishing order</h2>
        <h3 class="modal-description">Finish your order in 5 easy steps</h3>
        <h2 class="step-title">Step 2</h2>
        <img src="assets/images/make_order.png" alt="Logo" class="logo-img">
      </section>
      <section class="modal-body">
        <label class="step-input-description" for="user-info">Enter the name of the bank you use:</label>
        <input type="text" id="user-info" name="user-info" placeholder="Enter name of bank..." [(ngModel)]="bankName"
          required />
      </section>
    </div>
    <div *ngIf="step == 3">
      <section class="modal-header">
        <h2 class="modal-title">Finishing order</h2>
        <h3 class="modal-description">Finish your order in 5 easy steps</h3>
        <h2 class="step-title">Step 3</h2>
        <img src="./assets/images/make_order.png" alt="Logo" class="logo-img">
      </section>
      <section class="modal-body">
        <label class="step-input-description">Enter the number of your card:</label>
        <input type="text" id="user-info" name="user-info" placeholder="Enter number of card..."
          [(ngModel)]="cardNumber" required>
      </section>
    </div>
    <div *ngIf="step == 4">
      <section class="modal-header">
        <h2 class="step-title">Step 4</h2>
        <img src="./assets/images/make_order.png" alt="Logo" class="logo-img">
      </section>
      <section class="modal-body">
        <label class="step-input-description" for="description">Enter expiry date for your card:</label>
        <input id="description" name="description" placeholder="Enter expiry date..." [(ngModel)]="expiryDate" />
      </section>
    </div>
    <div *ngIf="step == 5">
      <section class="modal-header">
        <h2 class="modal-title">Confirm information</h2>
      </section>
      <section class="modal-body">
        <div class="info-part" id="base-info-inline">
          <label class="info-description">Full name of user: </label>
          <label class="info-data">{{ userName }}</label>
        </div>
        <div class="info-part" id="base-info-inline">
          <label class="info-description">Name of bank: </label>
          <label class="info-data">{{ bankName }}</label>
        </div>
        <div class="info-part" id="base-info-inline">
          <label class="info-description">Card number: </label>
          <label class="info-data">{{ cardNumber }}</label>
        </div>
        <div class="info-part" id="base-info-inline">
          <label class="info-description">Expiry date of a card: </label>
          <label class="info-data">{{ expiryDate }}</label>
        </div>
      </section>
    </div>
    <section class="modal-footer">
      <button type="button" class="prev-btn" *ngIf="step != 1" (click)="previous()">Prev</button>
      <button type="button" class="next-btn" *ngIf="step != 5" (click)="submit()">Next</button>
      <button type="button" class="create-btn" *ngIf="step == 5" (click)="onFinishOrder()">Create</button>
    </section>
  </form>
</div>
